attrs
Babel
bcc
blinker
Brlapi
certifi
chardet
click
cloud-init
colorama
command-not-found
cryptography
cupshelpers-python
defer
distro
distro-info
gyp
idna
jsonpatch
kazam
language-selector
lazr.restfulclient
lazr.uri
louis
markdown-it-py
MarkupSafe
mdurl
netaddr
netifaces
oauthlib
olefile
pillow
ptyprocess
pycairo
pycups
Pygments
PyGObject
PyJWT
pyparsing
pyrsistent
pyserial-apt+ubuntu4
python-dateutil
python-debian+ubuntu2
pytz
requests
rich
setuptools
six
systemd-python
ubuntu-drivers-common
ubuntu-pro-client
unattended-upgrades
wadllib
wheel
xdg
